# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd

# Virtual environment
venv/
.venv/

# Django specific
*.log
*.pot
media/
static/
.DS_Store

# Database
*.sqlite3
*.db

# IDE and editor files
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vscode/

# OS or System files
*.env